@import "~renderer/assets/fonts/icons/style.scss";

@import "~renderer/styles/colors.scss";
@import "~renderer/styles/utils.scss";

.Hint {
    color: $hint_color;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.HintStat {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
    color: $base_color;
}

.Speed {
    flex-direction: row;
    display: flex;
    align-items: center;
}

.Time {
    margin-left: 10px;
    flex-direction: row;
    display: flex;
    align-items: center;
}

.TimeIcon {
    font-size: 15px;
    color: $base_color;
}

.ExchangeIcon {
    font-size: 15px;
    color: $base_color;
}

.ArrowIcon {
    font-size: 15px;
    color: $base_color;
}

.DoneIcon {
    font-size: 15px;
    color: $accept_color
}

.ErrorIcon {
    font-size: 15px;
    color: $error_color
}
