@import "~renderer/assets/fonts/icons/style.scss";

@import "~renderer/styles/colors.scss";
@import "~renderer/styles/utils.scss";

.Person {
    margin-bottom: 10px;
}


.File {
    background-color: #EAF2FF;
    border-radius: 15px;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.FileIcon {
    color: #2979FF;
}

.Hint {
    margin-top: 4px;
    color: $hint_color;
    font-size: 14px;
    font-weight: 500;
}

.Percentage {
    font-size: 16px;
    font-weight: 600;
    color: $base_color;
}

