@import "~renderer/assets/fonts/icons/style.scss";

@import "~renderer/styles/colors.scss";

.Person {
    margin-top: 10px;
}

.Hint {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $hint_color;
}

.HintFiles {
    color: $base_color;
}

.ExchangeIcon {
    font-size: 15px;
    color: $base_color;
}

.ArrowIcon {
    font-size: 15px;
    color: $base_color;
}

.DoneIcon {
    font-size: 15px;
    color: $accept_color
}

.ErrorIcon {
    font-size: 15px;
    color: $error_color
}
