@import "~renderer/styles/base.scss";
@import "~renderer/styles/colors.scss";

.Copyright {
    position: absolute;
    right: 30px;
    bottom: 30px;

    font-weight: 300;
    font-size: 18px;

    color: $mute_color;
}
