.Window {
  width: 480px;
  height: 620px;
  border: 1px #E5E5E5 solid;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Logo {
  height: 150px;
  width: 150px;
  margin-top: 30px;
}

.Title {
  font-weight: 700;
  font-size: 25px;
  margin-top: 20px;
}

.TitleHint {
  color: #818181;
  font-weight: 400;
}

.GoogleButton {
  margin-top: 60px;
}

.AppleButton {
  margin-top: 20px;
}

.Spacer {
  flex: 2;
}

.Legal {
  margin-bottom: 20px;

  color: #818181;
  font-weight: 400;
  text-align: center;

  a {
    color: #2979FF;
    font-weight: 500;
    text-decoration: none;
  }
}
