.SimpleButton {
    width: 215px;
    height: 56px;
    border-radius: 10px;
    background-color: #2979FF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
