@import "~renderer/styles/colors.scss";

.Button {
    border-radius: 10px;
    color: $reject_color;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}

.Container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
