.Section {
    font-size: 22px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.Subsection {
    font-size: 18px;
    font-weight: 600;
}

.Subscript {
    font-size: 16px;
    color: #818181;    
}