@import "~renderer/assets/fonts/icons/style.scss";
@import "~renderer/styles/colors.scss";

.File {
    background-color: #EAF2FF;
    border-radius: 15px;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.FileIcon {
    color: #2979FF;
}

.TitleText {
    font-size: 22px;
    font-weight: 500;
}

.Hint {
    margin-bottom: 20px;
    font-size: 16px;
    color: $hint_color;
}