@import "~renderer/styles/base.scss";

.Logo {
    position: absolute;
    height: 450px;
    width: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    transform: scale(1.5);
    opacity: 0;
}

.Sidebar {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}

.Workspace {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

