@import "~renderer/styles/colors.scss";
@import "~renderer/styles/utils.scss";

.Mute {
    position: absolute;
    bottom: 20px;
    right: 30px;
    color: $mute_color;
    font-size: 18px;
    font-weight: 300;
}
