.Card {
    box-sizing: border-box;
    width: 370px;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    font-size: 20px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Name {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
