@import "~renderer/assets/fonts/icons/style.scss";

.DeviseCode {
    color: #2979FF;
}

.CopyIcon {
    margin-right: 10px;
    font-size: 26px;
    padding-top: 5px;
}

.Code {
    font-size: 25px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    font-weight: 500;
}
