@import "~renderer/assets/fonts/icons/style.scss";

.ArrowIcon {
    height: 22px;
    cursor: pointer;
}

.Container {
    border: 1px solid #E5E5E5;
    padding: 40px;
    border-radius: 20px;
    margin-top: 60px;
}
